In [1]:
import pandas as pd
import numpy as np

Reshaping dataframe

Dealing with duplicates:

In [2]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [1, 2, 3]])
df.columns = ["a", "b", "c"]
df

   a  b  c
0  1  2  3
1  4  5  6
2  1  2  3

In [3]:
# deleting duplicate rows
df.drop_duplicates()

   a  b  c
0  1  2  3
1  4  5  6

In [4]:
df = pd.DataFrame([[1, 2, 3], [4, 2, 6], [1, 8, 7]])
df.columns = ["a", "b", "c"]
df

   a  b  c
0  1  2  3
1  4  2  6
2  1  8  7

In [5]:
# removing duplicates in column "b"
df.drop_duplicates(subset=["b"])

   a  b  c
0  1  2  3
2  1  8  7

<h2>Handling Missing Data</h2>

<b>Why data might be missing?</b>
<br>
- Systematic Cause
- Privacy Concerns
- Information Loss

<b>Different types of missing data</b>
<br>
- structurally missing data: <i>we expect this data to be missing for some logical reason</i>
<br>
<br>
- missing completely at random (MCAR): <i>the probability of any datapoint being MCAR is the same for all data points</i>
<br>
<br>
- missing at random (MAR): <i>the probability of any data point being MAR is the same within groups of the observed data</i>
<br>
<br>
- missing not at random (MNAR): <i>there is some reason why the data is missing</i>
<br>
<br>

<b>Types of deletion:</b>
- listwise
- pairwise

In [8]:
# drop rows that have any missing data
# data.dropna(inplace=True)

In [10]:
# drop rows having missing data only in specific columns

# data.dropna(subset=['Height','Education'], #only looks at these two columns
#             inplace=True, #removes the rows and keeps the data variable
#             how='any') #removes data with missing data in either field